
.items {
    list-style: none;
    height: 150px;
    width: 300px;
    border: 2px solid black;
    border-radius:5px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    word-wrap: break-word;
    overflow:scroll;
    transition: .3s;
    background:white;
    
}
.items:hover {
    transform: scale(1.25, 1.25);
}
.fa-close {
  cursor: pointer;
  
  transition:  .3s;
  
}
.fa-close:hover {
   transform: scale(1.25,1.25) rotate(360deg);
   
}

* {
    font-family: 'Titillium Web', sans-serif;
}


h1 {
    text-align:center;
}
form {
    text-align:center;
}
#control {
    background:white;
    width:750px;
    margin:auto;
    padding:0;
    top:0;
    left:25%;
    right:25%;
    position:fixed;
    height:100%;
    overflow:scroll;
}

body {
    background: url("doodles.png")
}
html {
    margin:0;
    padding:0;
}
button {
  background-color: #F97D75;
  border: 0;
  padding: 8px 20px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  margin-top:5px;
  
  
}
input {
  border: 0;
  margin-right: 5px;
  background: transparent;
  border-bottom: 1px solid black;
  width: 100px;
  padding: 8px;
  transition: width .3s;
}
input:hover{
    width: 150px;
    border-bottom-color: #F97D75;
}
input:hover::placeholder {
    color: #F97D75;
}

li {
    list-style:none;
}