<!doctype html>
<html>

<head>
    <title>TO DO LIST </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="form-container">
        <p class="form-header">Welcome to Your Personal To Do List</p>
        <form method="POST" action="/login">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <label>Password:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Login">
        </form>
    </div><br>
    <a id="signUpLink" href="/signup">Haven't Registered? Sign Up Here</a>
    <span id="loginMsg">
    <%= msg %>
    </span>
</body>

</html>
